.u-section-1 {background-image: none}
.u-section-1 .u-sheet-1 {min-height: 568px}
.u-section-1 .u-text-1 {font-weight: 700; line-height: 1; font-size: 4.5rem; text-decoration: underline !important; margin: 60px -15px 60px 15px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 587px}
.u-section-1 .u-text-1 {margin-right: 0; margin-left: 0} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 450px}
.u-section-1 .u-text-1 {font-size: 6rem} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 468px}
.u-section-1 .u-text-1 {font-size: 4.5rem} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 295px} }.u-section-2 {min-height: 500px; background-image: url("images/unicef_education-filles.jpg")}.u-section-3 {min-height: 525px}
.u-section-3 .u-layout-wrap-1 {margin-top: 1px; margin-bottom: 1px}
.u-section-3 .u-layout-cell-1 {min-height: 524px; background-image: none}
.u-section-3 .u-container-layout-1 {padding: 30px}
.u-section-3 .u-text-1 {font-size: 1.5rem; margin: 0 41px 0 51px} 

@media (max-width: 1199px){ .u-section-3 {min-height: 401px}
.u-section-3 .u-layout-cell-1 {background-position: 50% 50%; min-height: 432px}
.u-section-3 .u-text-1 {margin-left: 0; margin-right: 0} }

@media (max-width: 991px){ .u-section-3 {min-height: 444px}
.u-section-3 .u-layout-cell-1 {min-height: 100px} }

@media (max-width: 767px){ .u-section-3 {min-height: 1030px}
.u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px; padding-bottom: 0} }

@media (max-width: 575px){ .u-section-3 {min-height: 470px} }.u-section-4 .u-sheet-1 {min-height: 596px}
.u-section-4 .u-image-1 {width: 473px; height: 415px; margin: 60px auto} 

@media (max-width: 575px){ .u-section-4 .u-sheet-1 {min-height: 479px}
.u-section-4 .u-image-1 {width: 340px; height: 298px} }.u-section-5 {min-height: 435px}
.u-section-5 .u-layout-wrap-1 {margin-top: 1px; margin-bottom: 1px}
.u-section-5 .u-layout-cell-1 {min-height: 434px; background-image: linear-gradient(white, #d9d9d9)}
.u-section-5 .u-container-layout-1 {padding: 30px 30px 20px}
.u-section-5 .u-text-1 {font-size: 1.5rem; line-height: 1.6; letter-spacing: 0; background-image: none; margin: 0 45px} 

@media (max-width: 1199px){ .u-section-5 {min-height: 455px}
.u-section-5 .u-layout-cell-1 {background-position: 50% 50%; min-height: 358px}
.u-section-5 .u-text-1 {text-transform: none; width: 473px; font-weight: normal; margin-left: 0; margin-right: 0} }

@media (max-width: 991px){ .u-section-5 {min-height: 444px}
.u-section-5 .u-layout-cell-1 {min-height: 100px}
.u-section-5 .u-text-1 {width: 348px} }

@media (max-width: 767px){ .u-section-5 {min-height: 1030px}
.u-section-5 .u-container-layout-1 {padding-left: 10px; padding-right: 10px; padding-bottom: 0} }

@media (max-width: 575px){ .u-section-5 {min-height: 470px}
.u-section-5 .u-layout-cell-1 {min-height: 666px}
.u-section-5 .u-text-1 {width: 320px} }.u-section-6 {background-image: none}
.u-section-6 .u-sheet-1 {min-height: 350px}
.u-section-6 .u-icon-1 {height: 64px; width: 64px; margin: 33px auto 0}
.u-section-6 .u-text-1 {line-height: 1.3; font-size: 3rem; width: 700px; margin: 33px auto 60px} 

@media (max-width: 1199px){ .u-section-6 .u-text-1 {height: 39px; font-weight: normal} }

@media (max-width: 767px){ .u-section-6 .u-text-1 {width: 540px} }

@media (max-width: 575px){ .u-section-6 .u-text-1 {width: 340px; font-size: 1.5rem} }.u-section-7 {background-image: linear-gradient(#d9d9d9, #adcce9)}
.u-section-7 .u-sheet-1 {min-height: 385px}
.u-section-7 .u-text-1 {text-decoration: underline !important; font-size: 2.25rem; width: 392px; margin: 72px auto 0}
.u-section-7 .u-text-2 {font-size: 1.5rem; margin: 30px 0 50px} 

@media (max-width: 1199px){ .u-section-7 .u-text-1 {font-weight: normal; width: 803px}
.u-section-7 .u-text-2 {width: 803px} }

@media (max-width: 991px){ .u-section-7 .u-sheet-1 {min-height: 949px}
.u-section-7 .u-text-1 {width: 720px}
.u-section-7 .u-text-2 {width: 720px} }

@media (max-width: 767px){ .u-section-7 .u-sheet-1 {min-height: 616px}
.u-section-7 .u-text-1 {width: 540px}
.u-section-7 .u-text-2 {width: 540px} }

@media (max-width: 575px){ .u-section-7 .u-text-1 {width: 340px; font-size: 1.5rem}
.u-section-7 .u-text-2 {width: 340px} }.u-section-8 {background-image: none}
.u-section-8 .u-sheet-1 {min-height: 501px}
.u-section-8 .u-image-1 {width: 788px; height: 455px; margin: 23px auto} 

@media (max-width: 991px){ .u-section-8 .u-sheet-1 {min-height: 500px}
.u-section-8 .u-image-1 {width: 720px; height: 415px} }

@media (max-width: 767px){ .u-section-8 .u-image-1 {width: 540px; height: 311px} }

@media (max-width: 575px){ .u-section-8 .u-image-1 {width: 340px; height: 196px} }.u-section-9 {background-image: none}
.u-section-9 .u-sheet-1 {min-height: 587px}
.u-section-9 .u-custom-html-1 {min-height: 573px; margin: 7px -22px 7px 22px} 

@media (max-width: 1199px){ .u-section-9 .u-custom-html-1 {height: auto; margin-right: 0; margin-left: 0} }.u-section-10 {background-image: none}
.u-section-10 .u-sheet-1 {min-height: 588px}
.u-section-10 .u-text-1 {font-size: 1.25rem; margin: 12px 788px 0 0}
.u-section-10 .u-text-2 {font-size: 1.25rem; width: 352px; margin: -288px auto 0}
.u-section-10 .u-text-3 {font-size: 1.25rem; margin: -268px 0 0 788px}
.u-section-10 .u-icon-1 {height: 113px; width: 113px; margin: 83px auto 60px} 

@media (max-width: 1199px){ .u-section-10 .u-text-1 {margin-top: -58px; margin-right: auto}
.u-section-10 .u-text-2 {margin-top: -37px; margin-left: 313px}
.u-section-10 .u-text-3 {margin-top: 58px; margin-right: 123px; margin-left: auto}
.u-section-10 .u-icon-1 {margin-top: -320px} }

@media (max-width: 991px){ .u-section-10 .u-text-1 {margin-top: 92px}
.u-section-10 .u-text-2 {margin-top: -62px; margin-left: 240px}
.u-section-10 .u-text-3 {margin-top: -254px; margin-right: 94px} }

@media (max-width: 767px){ .u-section-10 .u-text-1 {margin-top: 566px}
.u-section-10 .u-text-2 {margin-top: 302px; margin-left: 180px}
.u-section-10 .u-text-3 {margin-top: 287px; margin-right: 71px} }

@media (max-width: 575px){ .u-section-10 .u-text-1 {margin-top: 555px}
.u-section-10 .u-text-2 {margin-top: -84px; margin-left: 113px; width: 340px}
.u-section-10 .u-text-3 {margin-top: -99px; margin-right: 45px} }